<ion-view title="About Us" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ozS9SO0NRayP0Zukx2yG_IMG-20171022-WA0026.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="aboutUs-list2">
      <ion-item class="item-icon-left" id="aboutUs-list-item5">
        <i class="icon ion-ios-telephone"></i>03-3323 4311</ion-item>
      <ion-item class="item-icon-left" id="aboutUs-list-item6">
        <i class="icon ion-ios-world"></i>www.alahil.com.my</ion-item>
    </ion-list>
    <div id="aboutUs-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A-1-03, Cybersquare,, Jalan Teknokrat 6, Cyber 5, 63000 Cyberjaya, Selangor</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.642960401951!2d101.65351151466656!3d2.9186250553406556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6fe91584f2d%3A0x626fd1d1a8d3540!2sOTPAM+iT+HUB!5e0!3m2!1sen!2smy!4v1543638040439"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <a ui-sref="muthuMobile()" id="aboutUs-button2" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>