<ion-view title="Amman2" id="page4">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/66zJf9REgvI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="amman2-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="amman2-list4">
      <ion-item class="item-avatar balanced" id="amman2-list-item9">
        <img src="img/AN66SAxGxGF_ktb6IfwPGD3mVF0P1V6yk6ZYxJjFuAs88-mo-c-c0xffffffff-rj-k-no">
        <h2balanced>Mangala Roopini Tamil Devotional Album - Goddess Durga Songs
          <p>1,368,269 views</p>
        </h2balanced>
      </ion-item>
    </ion-list>
    <h4 id="amman2-heading2" style="color:#FA075F;font-weight:600;">MANGALA ROOPINI 2</h4>
    <div id="amman2-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lakshmi is the Hindu goddess of wealth, love, prosperity (both material and spiritual), fortune, and the embodiment of beauty. She is the wife of Vishnu. Also known as Mahalakshmi, she is said to bring good luck and is believed to protect her devotees
        from all kinds of misery and money-related sorrows. Representations of Lakshmi are also found in Jain monuments.</p>
    </div>
    <div id="amman2-button-bar3" class="button-bar">
      <a ui-sref="amman()" id="amman2-button15" class="button button-positive button-block icon ion-android-home"></a>
      <a ui-sref="amman()" id="amman2-button22" class="button button-positive button-block">1</a>
      <button id="amman2-button16" class="button button-positive button-block">2</button>
      <a ui-sref="amman3()" id="amman2-button17" class="button button-positive button-block">3</a>
    </div>
  </ion-content>
</ion-view>