<ion-view title="Muthu Mobile" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/8ZHl1yweRwtqnhGQtMoX_MuthuAlmitha2.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="muthuMobile-list1">
      <ion-item class="item-icon-left" id="muthuMobile-list-item1">
        <i class="icon ion-ionic"></i>What you will learn</ion-item>
      <ion-item class="item-thumbnail-left" id="muthuMobile-list-item2" ui-sref="amman()">
        <img src="img/LNoddxU4Q9SYkTYG6Ygu_Mariamman.jpg">
        <h2>Introduction to Amman</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="muthuMobile-list-item3">
        <img src="img/JuUMHxg8TR6DIVHoXzaw_Turga.jpg">
        <h2>Introduction to Turga</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="muthuMobile-list-item4">
        <img src="img/60fjkYlEQZqz5dv1QTbS_Turga2.jpg">
        <h2>Introduction to Turga</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <a ui-sref="aboutUs()" id="muthuMobile-button1" class="button button-assertive button-large button-full">About Us</a>
  </ion-content>
</ion-view>