<ion-view title="Page" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="page-slide24">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/S5uzFjgRDWCHb65t64xh_ALAHIL2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="page-heading4" style="color:#000000;text-align:center;">ALAHIL SOLUTION</h2>
              <a ui-sref="muthuMobile()" id="page-button24" class="button button-positive button-block">Enter</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide25" style="background-color:#E8C826;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/1ucWUWMNTq2Mbrrr8dmv_hindu-god-ganesh-muruga.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="page-heading5" style="color:#000000;text-align:center;">Temples</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>